package handler

//单个请求中间数据集合
{{- range .innerDataDeclareCode -}}
{{.}}
{{- end}}

//##################################################
//                     主函数
//##################################################
{{- range .mainFuncCode}}
{{.}}
{{- end}}

//##################################################
//                     子函数
//##################################################
{{- range .subFuncCodeList}}
{{.}}
{{- end}}

//##################################################
//                  封装中间请求数据
//##################################################
{{- range .reqMakerCodeList}}
{{.}}
{{- end}}
{{- range .makeResponse}}
{{.}}
{{- end}}
