//{{.funcnote}}
innerData.req{{.funcname}} = innerData.make{{.funcname}}Req()
resp{{.funcname}}, err := {{.funcname}}(innerData.req{{.funcname}})
if err != nil {
  return resp, err
}
innerData.resp{{.funcname}} = resp{{.funcname}}
