//{{.funcnote}}
func {{.funcname}}(req {{.funcname}}Req) (*{{.funcname}}Resp, error) {
  rst := &{{.funcname}}Resp{}

  {{if .methodget}}
  url := fmt.Sprintf("http://%s{{.reqpath}}?%s", ReqAddr, proxy.Struct2Querystr(req))
  httpcode, body := proxy.Get(url)
  {{else if .methodpost}}
  url := fmt.Sprintf("http://%s{{.reqpath}}", ReqAddr)
  httpcode, body := proxy.PostJson(url, req)
  {{- end}}
  if httpcode != http.StatusOK {
    return nil, errors.New("request failed.")
  }

  err := json.Unmarshal(body, rst)
  if err != nil {
    return nil, err
  }

  return rst, nil
}
